@import "tailwindcss";

:root {
  --color-primary: #009b7d;
  --bg-gradient-from: #9ee7e2;
  --bg-gradient-via: #c8e6e9;
  --bg-gradient-to: #d6c9f5;
}

html,
body,
#__next {
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.bg-dashboard {
  background: linear-gradient(
    135deg,
    var(--bg-gradient-from),
    var(--bg-gradient-via),
    var(--bg-gradient-to)
  );
}

@media (max-width: 767px) {
  /* مثال: padding صفحه در موبایل کمتر شود */
  .mobile-page-padding {
    padding: 1rem;
  }
}
