@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark .bg-dashboard {
  background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

:root {
  --color-primary: #009b7d;
  --bg-gradient-from: #9ee7e2;
  --bg-gradient-via: #c8e6e9;
  --bg-gradient-to: #d6c9f5;
}

html,
body,
#__next {
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.bg-dashboard {
  background: linear-gradient(
    135deg,
    var(--bg-gradient-from),
    var(--bg-gradient-via),
    var(--bg-gradient-to)
  );
}



@media (max-width: 767px) {
  /* مثال: padding صفحه در موبایل کمتر شود */
  .mobile-page-padding {
    padding: 1rem;
  }
}
